@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('public/images/dashboardweb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

